{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["airbnb", "eslint:recommended", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es2022": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".mp4"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/display-name": [0],
    "react/prop-types": [0],
    "react/require-default-props": [0],
    "react/forbid-prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": [0],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "acc", "accumulator", "e", "ctx", "context",
          "req", "request", "res", "response", "$scope", "staticContext"
        ],
        "ignorePropertyModificationsForRegex": ["Ref$"]
      }
    ]
  }
}
